<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image,class:"form-control" %>
  </div>

  <div class="actions mt-4 mb-3">
    <%= form.submit "Create User",class:"btn btn-primary" %>
  </div>
<% end %>
