<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>
<%if @user.image.attached?%>
<p>
  <strong>Image:</strong>
  <%=  image_tag(url_for(@user.image),style: 'height:150px; width:150px;') %>
  <br>
  <%= link_to @user.image.filename, @user.image %>
</p>
<%end%>

<%= link_to 'Edit User', edit_user_path(@user),class:"btn btn-primary" %> |
<%= link_to 'Back', users_path %>
